<div class="row">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}"
            class="card-img-top img-thumbnail">
            <div class="card-body">
                <div class="mb-2" *ngIf="(presence.onlineUsers$ | async).includes(member.username)">
                    <i class="fa fa-user-circle text-success">Online now</i>
                </div>
                <div>
                    <strong>Location: </strong>
                    <p>{{member.city}},{{member.country}}</p>
                </div>
            
                <div>
                    <strong>Age: </strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last Active: </strong>
                    <p>{{member.lastActive | timeago}}</p>
                </div>
                <div>
                    <strong>Member since: </strong>
                    <p>{{member.created | date:'dd MMM YYYY'}}</p>
                </div>
            </div>
            <div class="btn-group d-flex" style="margin-top: 20px; margin-bottom: 20px;">
                <button class="btn btn-primary">Like</button>
                <button (click)="selectTab(3)" class="btn btn-success">Message</button>
                <button class="btn btn-danger" (click)="addReport(member)"
                style="background-color: rgba(206, 9, 9, 0.829); color: white; border: none;">Report</button>
            </div>
        </div>
    </div>
<div class="col-8">
    <tabset class="member-tabset" #memberTabs style="color:black">
        <tab heading='About {{member.knownAs}}' (selectTab)="onTabActivated($event)">
            <h4>Description</h4>
            <p>{{member.introduction}}</p>
            <h4>Looking For</h4>
            <p>{{member.lookingFor}}</p>
        </tab>
        <tab heading='Interests' (selectTab)="onTabActivated($event)">
            <h4>Interests</h4>
            <p>{{member.interests}}</p>
            
        </tab>
        <tab heading='Photos' (selectTab)="onTabActivated($event)">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages" 
            style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
        </tab>
        <tab heading='Messages' (selectTab)="onTabActivated($event)">
            <app-member-messages [username]="member.username" ></app-member-messages>
        </tab>
        <tab heading='Reservations' (selectTab)="onTabActivated($event)">
    <h4 style="color: rgb(7, 7, 68);">You want to go on a date with {{member.knownAs}} ?</h4>
    <label for="dateOfMeet" style="margin-left: 20px;">Pick a date</label>
    <div class="form-group" style="margin-left: 20px; background-color: rgb(255, 0, 119, 0.808); width: 90%; border-radius: 5px;">
    <input id="dateOfMeet" name="dateOfMeet" [(ngModel)]="dateOfMeet"
    type="text" bsDatepicker [bsConfig]="datePickerConfig" class="form-control">
    </div>

    <label style="margin-left: 20px;">Pick a restaurant</label>
    <select class="form-select" id="state" required="" style="margin-left: 20px; background-color: rgba(255, 0, 119, 0.808); width: 90%; color: white;">
    <option value="" style="color: white;">Choose...</option>
    <option style="color: white;">Prestige</option>
    <option style="color: white;">Nusr-Et</option>
    <option style="color: white;">Zdrava voda</option>
    <option style="color: white;">Garden city Konjic</option>


    </select>

    <label style="margin-left: 20px; margin-top: 5px;">Any special wishes: </label>

    <textarea class="form-control" id="textAreaExample1" rows="4" style="margin-left: 20px; background-color: rgb(255, 0, 119, 0.808); width: 90%;">Type here...</textarea>

    <button type="button" class="btn btn-success" (click)="makeReservation()" style="margin-left: 22px; margin-top: 10px;">Make a reservation</button>
    <button type="button" class="btn btn-danger" (click)="cancel()" type="button" style="margin-left: 10px; margin-top: 10px; background-color: rgba(206, 9, 9, 0.829);">Cancel</button>
              
            
        </tab>
    </tabset>
</div>
</div>